#container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.jumbotron{
    background-image: url('/Users/jennifermandato/Documents/GitHub/Jen-Mandato-Jour352/Jen-Mandato-Jour352/data-viz-project/hacker.jpg');
    background-size: cover;
    width: 100%;
    color: white;
    text-shadow: black;
    text-align: center;
  }
