#content{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.jumbotron{
    background-image: url('/Users/jennifermandato/Documents/GitHub/Jen-Mandato-Jour352/Jen-Mandato-Jour352/data-viz-project/hacker.jpg');
    background-size: cover;
    width: 100%;
    color: white;
    text-shadow: black;
    text-align: center;
  }

.sectionheader{
  font-size: 2em;
  text-transform: uppercase;
  background-color: #A70000;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  min-width: 300px;
}

.pullquote{
  text-align: center;
  font-size: 17px;
  font-style: italic;
  font-weight: bold;
  color: #A70000;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 15px;
  margin-right: 15px;
  border-top: 3px dashed black;
  border-bottom: 3px dashed black;
}

.video{
    width: 560px;
    height: 315px;
    top: 0; right: 0;
    bottom: 0; left: 0;
    margin: auto;
}
