#content {
  margin: 0 auto;
  width: 900px;
}

#headline {
  font-size: 1.5em;
  text-align: left;
  color: #5D518E;
  text-transform:uppercase;
  border-bottom: 2px dashed #5D518E;
}

#byline {
  font-family: Helvetica, sans-serif;
font-size: 14px;
font-style: italic;
}
