#content {
  margin: 0 auto;
  width: 900px;
}

/*This is all headline style */
#headline {
  font-size: 1.5em;
  text-align: left;
  color: #5D518E;
  text-transform:uppercase;
  border-bottom: 2px dashed #5D518E;
}

h1 {
  font-family: Helvetica, sans-serif;
  font-size: 28px;
}
/*End of headline styles */

#byline {
  font-family: Helvetica, sans-serif;
font-size: 14px;
font-style: italic;
}

/*Body styles */
p {
  font-family: Georgia, serif;
  font-size: 13px;
}
