/* Main Body text */
#content{
  margin: 0 auto;
  max-width: 900px;
}

p{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}

/*Headline */
h1{
  font-family: Georgia, serif;
  font-size:28px;
  text-transform:uppercase;
  border-bottom: 2px dashed red;
}

/*Byline */
#byline{
  font-family: Georgia, serif;
  font-size:14px;
}

/*Subheadings */
h2{
  font-family: Georgia, serif;
  font-size: 18px;
  color: red;
}

#links{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}

#image2{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#image3{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#image4{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/*Blockquote Styling */
blockquote{
  text-align: center;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  color: #6F0202;
  padding-left: 5px;
  padding-right: 5px;
  border-left: 2px dashed red;
  border-right: 2px dashed red;
}
